.idea
.vscode

.metals
.bloop
.bsp

project/project
project/target
project/.bloop
project/metals.sbt
target

settings/tradein_setup_config.json
settings/tradein_report_config.json
settings/tradein_mapping_config.json

trade-in-*.jar
